.NES {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    background: url("/NES_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.alignement {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.header {
    font-size: 75px;
    font-weight: 700;
    color: var(--main-color);
}

.subHeader {
    color: var(--main-color);
    font-weight: 400;
    font-size: 40px;
}

.mainText {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 75px;
}

.button {
    width: min-content;
    font-family: var(--font-press-start);
    font-size: 28px;
}

.ghost {
    position: absolute;
    width: 50px;
    animation: 10s infinite linear ghost1; 
}

@keyframes ghost1 {
    0% {
        left: -5%;
    }
    
    50% {
        left: 100%;
    }

    50% {
        -moz-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }

    100% {
        left: -5%;
    }
}